<a href="https://colab.research.google.com/github/albarcel/Entregable-2/blob/master/Entregable_2_parte_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Comenzamos cargando las librerías necesarias

In [0]:
import numpy as np
import pandas as pd

In [17]:
!wget https://raw.githubusercontent.com/albarcel/Entregable-2/master/train.csv -O train.csv

--2019-04-15 09:30:43--  https://raw.githubusercontent.com/albarcel/Entregable-2/master/train.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19171 (19K) [text/plain]
Saving to: ‘train.csv’

train.csv           100%[===================>]  18.72K  --.-KB/s    in 0.01s

2019-04-15 09:30:44 (1.50 MB/s) - ‘train.csv’ saved [19171/19171]

Cargamos el dataset de entrenamiento y a continuación mostramos las primeras 5 instancias del dataset

In [19]:
df = pd.read_csv('train.csv')
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Prediction
0,40,Male,1.9,1.0,231,16,55,4.3,1.6,0.6,False
1,64,Male,0.9,0.3,310,61,58,7.0,3.4,0.9,True
2,40,Female,2.1,1.0,768,74,141,7.8,4.9,1.6,False
3,32,Male,25.0,13.7,560,41,88,7.9,2.5,2.5,False
4,48,Male,0.7,0.2,326,29,17,8.7,5.5,1.7,False

**Pregunta**. ¿Cuál es el porcentaje de predicción de que los pacientes tendrán una enfermedad en el hígado?

In [21]:
df['Prediction'].mean()

0.2906178489702517

**Respuesta**. El 29% de los pacientes tendrá la enfermedad del hígado

**Pregunta**. ¿Cuántas mujeres tiene la enfermedad del hígado?

In [23]:
pd.crosstab(df['Gender'], df['Prediction'])

Prediction  False  True
Gender
Female         68     42
Male          242     85

**Respuesta**. Hay 42 mujeres que parecen está enfermedad.

**Pregunta**. ¿Cuál es la proporción entre hombre y mujeres que parecen la enfermedad?

In [24]:
df['Gender'].value_counts(normalize=True)

Male      0.748284
Female    0.251716
Name: Gender, dtype: float64

**Respuesta**. De los que tienen la enfermedad 74,82% son hombre y  el 25,17% son mujeres.

**Pregunta**. ¿Cuál es la media de edad de los pacientes?

In [33]:
df['Age'].mean()

44.88100686498856

**Respuesta**. La media de edad es de 44, 88 años.

**Pregunta**. ¿Cuál es la media de los atributos respecto de si parecen o no la enfermedad?

In [42]:
df[df['Prediction'] == 1].mean()

Age                            41.456693
Total_Bilirubin                 1.148031
Direct_Bilirubin                0.403150
Alkaline_Phosphotase          226.425197
Alamine_Aminotransferase       34.637795
Aspartate_Aminotransferase     43.086614
Total_Protiens                  6.605512
Albumin                         3.358268
Albumin_and_Globulin_Ratio      1.014016
Prediction                      1.000000
dtype: float64

In [41]:
df[df['Prediction'] == 0].mean()

Age                            46.283871
Total_Bilirubin                 4.170000
Direct_Bilirubin                1.923226
Alkaline_Phosphotase          317.112903
Alamine_Aminotransferase      104.303226
Aspartate_Aminotransferase    143.348387
Total_Protiens                  6.491613
Albumin                         3.107097
Albumin_and_Globulin_Ratio      0.935387
Prediction                      0.000000
dtype: float64

**Respuesta**. Así podemos observar las diferencias entre los atributos.